
.accueilContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    padding-top: 150px;
}
.accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;    
    background-size: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 0, 0),
        rgba(0, 0, 255, 0)
      ), url('../images/0001-0059.gif');
    border-radius: 50px;
    width: 80vw;
    background-repeat: no-repeat;
}
.salonsAccueil{
    display: flex;
}