header{
    position:sticky;
    top: 0px;
    width: 98vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}
nav{
    position:sticky;
    top: 0px;
    width: 98vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}
button{
    background-color: transparent;
    color: white;
    border-color: transparent;
}
.bouttonHeader{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.username{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    gap: 10;
}
.dropdownMenu{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    text-decoration: none;
    color: white;

}