header{
    position:fixed;
    top: 0px;
    width: 98vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}
button{
    background-color: transparent;
    color: white;
    border-color: transparent;
}
.bouttonHeader{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menuContainer{
    padding: 10px;
}
.menuContainer:hover{
    cursor: pointer;
    border-radius: 25px;
    opacity: 0.2;
    background-color: #747373;
}
.username{
    font-family: 'Roboto', sans-serif;
}